*{margin: 0; padding: 0;}
ul,ol{list-style: none;}
a{text-decoration: none;}
img{display: block;}
h1,h2,h3,h4{font-size: 16px; font-weight: normal;}
.clear::after{display: block; content: ""; clear: both;}

header{width: 158px; height: 47px; margin: 100px auto 0 auto;}
.logo img{width: 100%; height: 100%;}

.seach{width: 642px;margin: 0 auto; height: 40px; position: relative; margin-top: 44px;}
.seach input{width: 538px;height: 38px; outline: none; border: solid 1px #5994b3; border-right: none; text-indent: 10px; color: 12px; color: #070000;}
.seach button{width: 98px; height: 38px; border: solid 1px #5994b3; background-color: #3a9ad2; color: white; outline: none; box-sizing: content-box; position: absolute; cursor: pointer;}

.hotkey{margin: 0 auto; width: 642px; margin-top: 9px;}
.hotkey ul li{float: left; font-size: 12px; color: #67676d; margin-right: 16px; cursor: pointer;}
.hotkey ul li:first-child{margin-left: 2px;}

.weather_list{width: 900px; margin: 0 auto; position: relative; top: 80px;}
.weather_list ul{position: relative; left: 46px;}
.weather_list ul li{width: 135px; height: 115px; text-align: center; border-right: solid 1px #bbbabb; padding: 14px; float: left;}
.weather_list ul li:last-child{border: none;}
.weather_list ul li h2{font-size: 30px; color: #fea45f;margin-bottom: 10px; position: relative; top: -32px;}
.weather_list ul li p{font-size: 12px;color: #fea45f;line-height: 6.5px; margin-bottom: 32px;}
.weather_list ul li span{font-size: 12px;color: #999799;}