<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
        <p v-if="true">测试文字</p>
        <p v-if="false">测试文字</p>
        <h2 v-if="isShow">测试文字</h2>
        <h2 v-show="isShow">测试文字</h2>
    </div>
    <script>
        let app = new Vue({
            el:"#app",
            data:{
                isShow: false
            }
        })
    </script>
</body>
</html>